In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
dataset = pd.read_csv(r'C:\Users\gustavofb\Documents\teste_ia\data_archives\credit_simple.csv', sep=';')
dataset.shape

(1000, 8)

In [3]:
dataset.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim

In [4]:
y = dataset['CLASSE']
X = dataset.iloc[:,:-1]

In [11]:
X.isnull

<bound method DataFrame.isnull of      SALDO_ATUAL  RESIDENCIADESDE  IDADE OUTROSPLANOSPGTO        DATA  \
0         1169.0                4     67           nenhum  01/01/2019
1         5951.0                2     22           nenhum  01/01/2020
2         2096.0                3     49           nenhum  02/01/2020
3         7882.0                4     45           nenhum  02/01/2019
4         4870.0                4     53           nenhum  03/01/2018
..           ...              ...    ...              ...         ...
995       1736.0                4     31           nenhum  29/06/2018
996       3857.0                4     40           nenhum  30/06/2018
997        804.0                4     38           nenhum  03/07/2018
998       1845.0                4     23           nenhum  04/07/2019
999       4576.0                4     27           nenhum  05/07/2018

            ESTADOCIVIL            PROPOSITO
0    masculino solteiro             radio/tv
1           fem div/cas             radio/tv
2    masculino solteiro             educação
3    masculino solteiro  mobilia/equipamento
4    masculino solteiro           carro novo
..                  ...                  ...
995         fem div/cas  mobilia/equipamento
996   masculino div/sep          carro usado
997  masculino solteiro             radio/tv
998  masculino solteiro             radio/tv
999  masculino solteiro          carro usado

[1000 rows x 7 columns]>

In [12]:
mediana = X['SALDO_ATUAL'].median()
mediana

np.float64(2323.0)

In [15]:
X['SALDO_ATUAL'].fillna(mediana, inplace=True)
X.isnull

C:\Users\gustavofb\AppData\Local\Temp\1\ipykernel_18088\2699089723.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['SALDO_ATUAL'].fillna(mediana, inplace=True)

<bound method DataFrame.isnull of      SALDO_ATUAL  RESIDENCIADESDE  IDADE OUTROSPLANOSPGTO        DATA  \
0         1169.0                4     67           nenhum  01/01/2019
1         5951.0                2     22           nenhum  01/01/2020
2         2096.0                3     49           nenhum  02/01/2020
3         7882.0                4     45           nenhum  02/01/2019
4         4870.0                4     53           nenhum  03/01/2018
..           ...              ...    ...              ...         ...
995       1736.0                4     31           nenhum  29/06/2018
996       3857.0                4     40           nenhum  30/06/2018
997        804.0                4     38           nenhum  03/07/2018
998       1845.0                4     23           nenhum  04/07/2019
999       4576.0                4     27           nenhum  05/07/2018

            ESTADOCIVIL            PROPOSITO
0    masculino solteiro             radio/tv
1           fem div/cas             radio/tv
2    masculino solteiro             educação
3    masculino solteiro  mobilia/equipamento
4    masculino solteiro           carro novo
..                  ...                  ...
995         fem div/cas  mobilia/equipamento
996   masculino div/sep          carro usado
997  masculino solteiro             radio/tv
998  masculino solteiro             radio/tv
999  masculino solteiro          carro usado

[1000 rows x 7 columns]>

In [16]:
agrupado = X.groupby(['ESTADOCIVIL']).size()
agrupado

ESTADOCIVIL
fem div/cas               308
masculino casado/viuvo     92
masculino div/sep          50
masculino solteiro        542
dtype: int64

In [ ]:
X['ESTADOCIVIL'].fillna('masculino solteiro', inplace=True)

In [18]:
desv = X['SALDO_ATUAL'].std()
desv

np.float64(685936688.9820067)

In [20]:
X.loc[X['SALDO_ATUAL']>=2 * desv, 'SALDO_ATUAL']

127    2.541111e+09
160    2.154441e+10
Name: SALDO_ATUAL, dtype: float64

In [21]:
mediana = X['SALDO_ATUAL'].median()
mediana

np.float64(2323.0)

In [22]:
X.loc[X['SALDO_ATUAL']>=2 * desv, 'SALDO_ATUAL'] = mediana
X.loc[X['SALDO_ATUAL']>=2 * desv]

Empty DataFrame
Columns: [SALDO_ATUAL, RESIDENCIADESDE, IDADE, OUTROSPLANOSPGTO, DATA, ESTADOCIVIL, PROPOSITO]
Index: []