In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
dataset = pd.read_csv(r'C:\Users\gustavofb\Documents\teste_ia\data_archives\credit_simple.csv', sep=';')
dataset.shape

(1000, 8)

In [4]:
dataset.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim

In [5]:
y = dataset['CLASSE']
X = dataset.iloc[:,:-1]

In [6]:
X.isnull

<bound method DataFrame.isnull of      SALDO_ATUAL  RESIDENCIADESDE  IDADE OUTROSPLANOSPGTO        DATA  \
0         1169.0                4     67           nenhum  01/01/2019
1         5951.0                2     22           nenhum  01/01/2020
2         2096.0                3     49           nenhum  02/01/2020
3         7882.0                4     45           nenhum  02/01/2019
4         4870.0                4     53           nenhum  03/01/2018
..           ...              ...    ...              ...         ...
995       1736.0                4     31           nenhum  29/06/2018
996       3857.0                4     40           nenhum  30/06/2018
997        804.0                4     38           nenhum  03/07/2018
998       1845.0                4     23           nenhum  04/07/2019
999       4576.0                4     27           nenhum  05/07/2018

            ESTADOCIVIL            PROPOSITO
0    masculino solteiro             radio/tv
1           fem div/cas             radio/tv
2    masculino solteiro             educação
3    masculino solteiro  mobilia/equipamento
4    masculino solteiro           carro novo
..                  ...                  ...
995         fem div/cas  mobilia/equipamento
996   masculino div/sep          carro usado
997  masculino solteiro             radio/tv
998  masculino solteiro             radio/tv
999  masculino solteiro          carro usado

[1000 rows x 7 columns]>

In [7]:
mediana = X['SALDO_ATUAL'].median()
mediana

np.float64(2323.0)

In [8]:
X['SALDO_ATUAL'].fillna(mediana, inplace=True)
X.isnull

C:\Users\gustavofb\AppData\Local\Temp\1\ipykernel_1896\2699089723.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['SALDO_ATUAL'].fillna(mediana, inplace=True)

<bound method DataFrame.isnull of      SALDO_ATUAL  RESIDENCIADESDE  IDADE OUTROSPLANOSPGTO        DATA  \
0         1169.0                4     67           nenhum  01/01/2019
1         5951.0                2     22           nenhum  01/01/2020
2         2096.0                3     49           nenhum  02/01/2020
3         7882.0                4     45           nenhum  02/01/2019
4         4870.0                4     53           nenhum  03/01/2018
..           ...              ...    ...              ...         ...
995       1736.0                4     31           nenhum  29/06/2018
996       3857.0                4     40           nenhum  30/06/2018
997        804.0                4     38           nenhum  03/07/2018
998       1845.0                4     23           nenhum  04/07/2019
999       4576.0                4     27           nenhum  05/07/2018

            ESTADOCIVIL            PROPOSITO
0    masculino solteiro             radio/tv
1           fem div/cas             radio/tv
2    masculino solteiro             educação
3    masculino solteiro  mobilia/equipamento
4    masculino solteiro           carro novo
..                  ...                  ...
995         fem div/cas  mobilia/equipamento
996   masculino div/sep          carro usado
997  masculino solteiro             radio/tv
998  masculino solteiro             radio/tv
999  masculino solteiro          carro usado

[1000 rows x 7 columns]>

In [9]:
agrupado = X.groupby(['ESTADOCIVIL']).size()
agrupado

ESTADOCIVIL
fem div/cas               308
masculino casado/viuvo     92
masculino div/sep          50
masculino solteiro        542
dtype: int64

In [10]:
X['ESTADOCIVIL'].fillna('masculino solteiro', inplace=True)

C:\Users\gustavofb\AppData\Local\Temp\1\ipykernel_1896\1613236847.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['ESTADOCIVIL'].fillna('masculino solteiro', inplace=True)

In [11]:
desv = X['SALDO_ATUAL'].std()
desv

np.float64(685936688.9820067)

In [12]:
X.loc[X['SALDO_ATUAL']>=2 * desv, 'SALDO_ATUAL']

127    2.541111e+09
160    2.154441e+10
Name: SALDO_ATUAL, dtype: float64

In [13]:
mediana = X['SALDO_ATUAL'].median()
mediana

np.float64(2323.0)

In [14]:
X.loc[X['SALDO_ATUAL']>=2 * desv, 'SALDO_ATUAL'] = mediana
X.loc[X['SALDO_ATUAL']>=2 * desv]

Empty DataFrame
Columns: [SALDO_ATUAL, RESIDENCIADESDE, IDADE, OUTROSPLANOSPGTO, DATA, ESTADOCIVIL, PROPOSITO]
Index: []

In [16]:
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
Eletrodomésticos        12
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  12
qualificação             9
radio/tv               280
dtype: int64

In [18]:
X.loc[X['PROPOSITO'] == 'Eletrodomésticos','PROPOSITO']= 'outros'
X.loc[X['PROPOSITO'] == 'qualificação','PROPOSITO']= 'outros'
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  33
radio/tv               280
dtype: int64

In [22]:
X['DATA'] = pd.to_datetime(X['DATA'], format='%d/%m/%Y')
X['DATA']

0     2019-01-01
1     2020-01-01
2     2020-01-02
3     2019-01-02
4     2018-01-03
         ...
995   2018-06-29
996   2018-06-30
997   2018-07-03
998   2019-07-04
999   2018-07-05
Name: DATA, Length: 1000, dtype: datetime64[ns]

In [23]:
X['ANO'] = X['DATA'].dt.year
X['MES'] = X['DATA'].dt.month
X['DIASEMANA'] = X['DATA'].dt.day_name()
X['DIASEMANA']

0        Tuesday
1      Wednesday
2       Thursday
3      Wednesday
4      Wednesday
         ...
995       Friday
996     Saturday
997      Tuesday
998     Thursday
999     Thursday
Name: DIASEMANA, Length: 1000, dtype: object

In [24]:
labelencoder1 = LabelEncoder()
X['ESTADOCIVIL'] = labelencoder1.fit_transform(X['ESTADOCIVIL'])
X['PROPOSITO'] = labelencoder1.fit_transform(X['PROPOSITO'])
X['DIASEMANA'] = labelencoder1.fit_transform(X['DIASEMANA'])

X.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,5
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,6
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,4
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,6
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,6

In [25]:
z = pd.get_dummies(X['OUTROSPLANOSPGTO'], prefix='OUTROS')
z

     OUTROS_banco  OUTROS_nenhum  OUTROS_stores
0           False           True          False
1           False           True          False
2           False           True          False
3           False           True          False
4           False           True          False
..            ...            ...            ...
995         False           True          False
996         False           True          False
997         False           True          False
998         False           True          False
999         False           True          False

[1000 rows x 3 columns]